#ref:link {
  color: rgb(128, 0, 128);
  background-color: transparent;
  text-decoration: none;
}

#ref:visited {
  color: #9c1974;
  background-color: transparent;
  text-decoration: none;
}

#ref:hover {
  color: #9c195d;
  background-color: transparent;
  text-decoration: underline;
}